*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
    135deg,
    #3b0764,
    #7e22ce,
    #ec4899
    );

    font-family:Arial,sans-serif;
}

.container{

    width:500px;

    background:white;

    padding:25px;

    border-radius:25px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.image-box{

    width:100%;
    height:180px;

    overflow:hidden;

    border-radius:20px;

    margin-bottom:15px;
}

.todo-img{

    width:100%;
    height:100%;

    object-fit:cover;
}

h1{

    font-family:'Pacifico',cursive;

    color:#6b21a8;

    margin-bottom:20px;
}

.input-box{

    display:flex;

    gap:10px;
}

.input-box input{

    flex:1;

    padding:12px;

    border:2px solid #d8b4fe;

    border-radius:12px;

    outline:none;
}

#addBtn{

    background:#7e22ce;

    color:white;

    border:none;

    padding:12px 16px;

    border-radius:12px;

    cursor:pointer;

    transition:.3s;
}

#addBtn:hover{

    background:#5b21b6;

    transform:scale(1.05);
}

#error{

    color:red;

    margin-top:10px;
}

ul{

    list-style:none;

    margin-top:20px;
}

li{

    background:#fce7f3;

    margin:10px 0;

    padding:12px;

    border-radius:15px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    font-weight:bold;

    animation:fadeIn .4s ease;
}

.completed{

    text-decoration:line-through;

    color:gray;
}

li button{

    border:none;

    background:#ec4899;

    color:white;

    padding:8px 10px;

    border-radius:10px;

    cursor:pointer;
}

li button:hover{

    background:#db2777;
}

h3{

    margin-top:15px;

    color:#3b0764;
}

@keyframes fadeIn{

    from{
        opacity:0;
        transform:translateY(-10px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}